<div class="comment">
  <div class="comment-header">
    <%= avatar_for(comment.user, size: 30, class: "comment-avatar") %>

    <strong>
      <%= link_to comment.user.email, user_path(comment.user) %>
    </strong>
  </div>

  <p class="comment-body"><%= comment.body %></p>

  <small><%= time_ago_in_words(comment.created_at) %> ago</small>

  <% if owner?(comment) %>
    <%= button_to "Delete",
        post_comment_path(post, comment),
        method: :delete,
        class: "comment-delete" %>
  <% end %>
</div>