<div class="post-form-card">
  <%= render "shared/errors", object: @post %>

    <%= form_with model: @post do |f| %>
      <%= f.text_field :title, placeholder: "Title" %>
      <%= f.text_area :body, placeholder: "Write something..." %>
      <%= f.file_field :image %>
      <%= f.submit "Create Post" %>
  <% end %>
</div>