<div class="user-profile">
  <%= render "users/profile", user: @user %>
  <%= render "users/follow_button", user: @user %>
  <%= render "users/post_form", user: @user %>
  <%= render "users/posts", user: @user %>
  <%= link_to "Back", users_path %>
</div>