<div class="user-profile">
  <%= render "profile", user: @user %>
  <%= render "follow_button", user: @user %>
  <%= render "post_form", user: @user %>
  <%= render "posts", user: @user %>

  <%= link_to "Back", users_path %>
</div>