<div class="post">
  <%= render @post, full_view: true %>

  <%= render "likes/like_section", post: @post %>

  <div class="comments-section">
    <h3>Comments</h3>

    <% @post.comments.order(created_at: :desc).each do |comment| %>
      <%= render "comments/comment", comment: comment, post: @post %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="comment-form">
      <%= form_with model: [@post, Comment.new] do |f| %>
        <%= f.text_area :body, placeholder: "Write a comment..." %>
        <%= f.submit "Comment" %>
      <% end %>
    </div>
  <% else %>
    <p>You must be logged in to comment</p>
  <% end %>

  <% if owner?(@post) %>
    <%= button_to "Delete Post",
        post_path(@post),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% end %>

  <%= link_to "Back", user_path(@post.user), class: "btn btn-secondary" %>
</div>